
//*****VARIABLES*****//

$color-primario: #4d6d42a1; 
$color-secundario: rgb(250, 025, 205);
$color-acento: #fa7268;
$color-acento-secundario:#f3aaa52f;
$color-warning: rgb(0,0,0);
$color-light:#f1f1f1;