/*sintaxis de css*/

//sintaxis de scss//

//IMPORTACION//
@import "reset";
@import "tipografia";
@import "variables";
@import "nesting";

/****ANIMATIONS*****/

@keyframes animate__pulse{
 
    0% {
     transform:scaleX(1);
    }
    50% {
     transform:scale3d(1.05,1.05,1.05);
    }
    to {
     transform:scaleX(1);
   }
}
